html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #f3f3f3;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.container {
  display: flex;
  height: 100vh;
}

.barra-lateral {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.logo {
  font-size: 34px;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  color: #f3f3f3;
}

/* Exo2 
.logo {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

/* Orbitron 
.orbitron-<uniquifier> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

/* anton 
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/
/* Audio Wide */
/* .logo {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
} */


.logo span {
  /* background-image: linear-gradient(to right, red, orange, yellow); */
  background-image: radial-gradient(rgb(250, 92, 92), rgb(255, 44, 44), red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.movie-search {
  display: flex;
  align-items: center;
  margin-top: 20px;
  background: #f3f3f3;
  padding: 5px;
  border-radius: 5px;
}

.movie-search img {
  width: 20px;
  margin-right: 5px;
}

.barra-pesquisa {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
  background-color: #f3f3f3;
  color: #272D36;
  /* background-color: #272D36;
    color: #f3f3f3; */
}

.filtros {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filtro-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.filtro-btn:hover {
    background-color: #555;
}

.menu{
  margin-top: 15px;
  border-radius: 5px;
  background-color: #272D36;
  padding: 6px;
}

.menu a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 7px 0;
  font-size: 16px;
  padding: 7px;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.menu a:hover {
  background-color: #f3f3f3;
  color: red;
}

.menu .icones {
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.titulo-barraLateral{
  background-color: red;
  color: #f3f3f3;
  text-align: center;
  margin: 0;
  padding: 15px;
  font-size: 12pt;
  border-radius: 5px;
}

.generos {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #272D36;
  padding: 6px;
}

.generos ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 11pt;
}

#genreNav {
  margin-top: 20px;
  color: white;
}

#genreNav ul {
  list-style: none;
  padding: 0;
}

#genreNav li {
  margin: 8px 0;
  cursor: pointer;
  transition: color 0.3s;
}

#genreNav li:hover {
  color: red;
}

#sectionTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#genreList li {
  margin-bottom: 5px;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  /* border-bottom: 2px solid #f3f3f3; */
  transition: background 0.3s, color 0.3s;
}

#genreList li:hover {
  background-color: #f3f3f3;
  /* background-color: #2d3748; */
}

#genreList li.active {
  /* background-color: orange; */
  background-color: red;
  color: #f3f3f3;
  font-weight: bold;
}

.container-meio {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #ddd6d6;
}

.titulo-genero {
  margin-bottom: 20px;
}

.buttons button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  background: #ddd;
  cursor: pointer;
}

